{% extends 'starter/bootstrap.html' %}

{% load static %}

{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'starter/starter.css' %}" />
    <link rel="icon" href="{% static 'starter/favicon.ico' %}" />
{% endblock %}

{% load starter_extras %}

{% block title %}Starter Template for Bootstrap{% endblock %}

{% block bootstrap3_content %}

<!-- navbar -->
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/starter/">Starter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% active request "/starter/$" %}"><a href="{% url 'starter:index' %}">Home <span class="sr-only">(current)</span></a></li>
                <li class="{% active request "/starter/about/" %}"><a href="{% url 'starter:about' %}">About</a></li>
                <li class="{% active request "/starter/contact/" %}"><a href="{% url 'starter:contact' %}">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}

{% bootstrap_messages %}

<div class="container">
    <div class="starter-template">
        <!-- content -->
        {% block content %}
        {% endblock %}
    </div>
</div><!-- /.container -->

{% endblock %}
